* {
    padding: 0;
    margin: 0;
    }
    
    body {
    background-color: #fffb00;
    width: 100%;
    /* overflow-x: hidden; */
    }
    
    header {
    width: 100%;
    height: 80px;
    background-color: #fffb00;
    }
    
    .bg {
    width: 100%;
    /* margin: 50px 0 50px 0; */
    padding: 0;
    }
    
    #trailer {
    font-size: 40px;
    display: block;
    text-align: end;
    text-decoration: none;
    color:red;
    position: relative;
top: 40%;
transform: translateY(-50%);
padding: 10px;
    

    }
    
    #infa {
    font-size: 30px;
    color: 000;
    }
    
    #world {
    font-size: 28px;
    }
    
    .earth {
    width: 540px;
    height: 350px;
    }
    
    .jump {
    width: 540px;
    height: 350px;
    }
    .qiwi {
        width: 540px;
        height: 350px;
    }
    .pichy {
    text-align: center;
    }
    .red {
    color: red;
    text-decoration: none;
    }
    
    footer {
    width: 100%;
    height: 120px;
    background-color: black;
    }
    .ending {
        text-align: center;
        font-size: 50px;
        color:rgb(65, 64, 64)
    }
    p {
    margin: 10px;
    text-align: justify;
    }
 